# The order of packages is significant, because pip processes them in the order
# of appearance.

sphinx!=1.6.6,!=1.6.7,>=1.6.2 # BSD

recommonmark
reno>=2.5.0 # Apache-2.0
cliff!=2.9.0,>=2.8.0 # Apache-2.0
